@charset "utf-8";

/* Fixed Header Extension */

div#ExtFixedHeader {
	position: relative;
}
div#ExtFixedHeaderCont {
	position: absolute;
	z-index: 40;
	width: 100%;
	opacity: 1;
}

div#ExtFixedHeader h2,div#ExtFixedHeader h3 {
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}